<h1>Inventory Management</h1>
        <!-- Flash message -->
        <% if (messages.notice) { %>
            <div class="flash-message">
                <%= messages.notice %>
            </div>
        <% } %>

        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>


        <h2>Manage Inventory</h2>
        <p>Choose a classification to see those inventory items</p>
        <%-classificationSelect %>
        <div class="table">
            <table id="inventoryDisplay"></table>
        </div>
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
        <script src="../../js/inventory.js"></script>